{% extends "base.html" %}
{% block title %}
    Face Beauty Prediction
{% endblock %}

{% block content %}
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" >Face Beauty Prediction</a>
            <form class="ui form" method="post" enctype=multipart/form-data action="#">
<!--                Upload the picture and show it simultaneously. -->
                <p>Upload your image: <input type="file" name="file" id="uploadImg" onchange="xmTanUploadImg(this)" /></p>
                <script>
                    function xmTanUploadImg(obj) {
                        var file = obj.files[0];
                        var reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function (e) {    // Read the file
                            var img = document.getElementById("selectImg");
                            img.src = e.target.result;   // img.src = this.result / e.target == this
                        };
                    }
                </script>
                <button type="submit" value="Submit">Submit</button>
            </form>

        </div>

        <div class="media-body">
          <div class="content-section">
              <div class="text-center">
                  <img src="" alt="" id="selectImg">
                  <h3>Your Face Beauty Score is: {{score}} (out of 5)</h3>
              </div>

          </div>
        </div>

    </div>

{% endblock %}