{% extends "base.html" %}
{% block title %}
    Welcome
{% endblock title%}

{% block content %}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" >Author: Zhikun Xu, Yuwei Quan</a>
      <small class="text-muted">Oct, 2nd, 2020</small>
    </div>
    <h2><a class="article-title">Welcome and Guide</a></h2>
    <p class="article-content">
      <h5>Welcome for using our machine learning service. This is a demo website of cloud computing project.</h5>
      <h6>The detailed information of the project refers to https://github.com/Jerrrrykun/cloud_computing_project</h6>
      There are currently two main services in our website: Natural Language Processing(NLP) and Computer Vision(CV).
      <div class="text-info">
        Note: for Face Beauty Prediction, you have to upload the picture and then click 'submit' to submit the pic for scoring.
        <div class="text-danger">
             PS: This website DOES NOT store the pictures and will delete them after each prediction(by clicking 'submit' or just refreshing the website).........
        </div>
      </div>
    </p>
  </div>

{% endblock content%}