{% extends "base.html" %}
{% block title %}
    Welcome
{% endblock title%}

{% block content %}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" >Author: Zhikun Xu, Yuwei Quan</a>
      <small class="text-muted">Oct, 2nd, 2020</small>
    </div>
    <h2><a class="article-title">Welcome and Guide</a></h2>
    <p class="article-content">
      Welcome for using our machine learning service. There are currently two main services in our website: Natural Language Processing(NLP) and Computer Vision(CV)
    </p>
  </div>

{% endblock content%}